table {
    width: 100%;
}

mat-header-cell, mat-cell {
    justify-content: center;
  }

/* .headers{
    margin-right: 5px;
} */
.example-container {
    display: flex;
    flex-direction: column;

    flex-basis: 300px;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

   .mat-column-name{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center


  }
  .mat-column-position{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;

  }
  .mat-column-weight{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;

  } 
  .mat-column-symbol{

  text-align: center;
  align-self: stretch;
  }
 .mat-column-weight{
     align-self: stretch;
  } 