.tg  {border:none;border-collapse:collapse;border-spacing:0;}
    .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
      padding:10px 5px;word-break:normal;}
    .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-4phf{background-color:#F1C232;border-color:#000000;text-align:right;vertical-align:bottom}
    .tg .tg-ur67{background-color:#FFF;border-color:#000000;text-align:left;vertical-align:bottom}
    .tg .tg-fbpw{background-color:#F1C232;border-color:#000000;text-align:left;vertical-align:bottom}
    .tg .tg-cm6r{background-color:#F1C232;border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-fd1h{background-color:#F1C232;border-color:#000000;font-weight:bold;text-align:center;vertical-align:middle}
    .tg .tg-bwdb{background-color:#FFF;border-color:#330001;font-weight:bold;text-align:left;vertical-align:bottom}
    .tg .tg-x91c{background-color:#FFF;border-color:#000000;font-weight:bold;text-align:left;vertical-align:bottom}
    .tg .tg-vrii{background-color:#FFF;border-color:#000000;font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-zfku{background-color:#F1C232;border-color:#000000;text-align:left;vertical-align:top}
    .tg .tg-nr0s{background-color:#F1C232;border-color:#000000;font-weight:bold;text-align:right;vertical-align:bottom}

.tg-ntck{background-color:#ffffff;border-color:inherit;font-weight:bold;text-align:left;vertical-align:bottom}
.tg-6v43{background-color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg-t9gt{background-color:#ffffff;font-weight:bold;text-align:left;vertical-align:bottom}